@page "{id:int?}"
@model ItRental.Web.Pages.RenterDetailsModel
@{
    ViewData["Title"] = "RenterDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>RenterDetails</h2>
<h3>@Model.Renter.Name</h3>
<h3>Har lånt @Model.Renter.NumberOfRentals ting</h3>
<table>
    <tr>
        <th>Navn</th>
        <th>Kategori</th>
        <th>Antal</th>
        <th>Udlånt</th>
        <th>Skal afleveres</th>
        <th>Rediger</th>
    </tr>
    <tbody>
        @{
            foreach (Rental rental in Model.Rentals) //Fik hjælp af Kaare og Nicklas
            {
                <tr>
                    <td>@rental.Equipment.Name</td>
                    <td>@rental.Equipment.Category</td>
                    <td>@rental.Units</td>
                    <td>@rental.RentalTime.ToString("dd-MM-yyyy")</td>
                    <td class="@Model.IsRentalOverdue(rental.ReturnTime)">@rental.ReturnTime.ToString("dd-MM-yyyy")</td>
                    <td>
                        <a href=""><i class="fa fa-edit" aria-hidden="true"></i></a>&nbsp;&nbsp;
                        <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<h2>Lån udstyr</h2>
<div class="form">
    <form method="post" asp-page="RenterDetails" asp-page-handler="AddRental">
        @Html.AntiForgeryToken()
        <label asp-for="Rental.Equipment.Id">Udstyr</label>
        <select asp-for="Rental.Equipment.Id">
            @foreach (Equipment equipment in Model.Equipments)
            {
            <option value="@equipment.Id">@equipment.Name</option> 
            }
        </select>

        <label asp-for="Rental.Units"></label>
        <input asp-for="Rental.Units"/>

        <label asp-for="Rental.ReturnTime"></label>
        <input asp-for="Rental.ReturnTime" type="datetime" value="@DateTime.Now.ToString("dd-MM-yyyy")"/>


        

        <button type="submit">Opret</button>
    </form>
</div>